.login{
  border: black solid 0.2px;
  position:fixed;
  margin: 50%;
  width: 25%;
  height: 50%;
  /* padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px; */
  /* display: flex; */
  /* justify-content: flex-end; */
  padding-left: 07%;
}
.homepage-header{

  margin-left: 30%;
}

.user-username{
  text-align: center;

}
.mainpage-link{
  display: flex;
  justify-content: space-between;
}

.users{
  margin-top: 5%;
}
.MainPage button{
  color:rgb(0, 0, 0);


  
}
.logout-btn{
  position: relative;
  left: 90%;
  color: rgb(0, 0, 0);
  padding: 0.7em;
  background-color:rgb(255, 255, 255);

  

}
body
{
  background-color: rgb(53, 174, 222);
  color: rgb(0, 0, 0);
}

   .aggrid{
     position: absolute;
     left: 0.2%;
     width: 100%;
   }

   /* .ag-theme-alpine{ */
     /* display: flex;
     
   } */
   