.login{
  border: black solid 0.2px;
  position:fixed;
  margin: 0 25% 0 25%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
.homepage-header{

  margin-left: 30%;
}

.user-username{
  text-align: center;

}
.mainpage-link{
  display: flex;
  justify-content: space-between;
}

.users{
  margin-top: 5%;
}
.MainPage button{
  color:rgb(214, 211, 8);

  
}