.login{
    border: white solid 1px;
    border-radius: 2%;
    background-color: rgb(156, 174, 196);
    
    position: absolute;
    left: 25%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.login-text{
    color: rgb(0, 0, 0);
}
.login-form input{
    margin: .4em;
   left: 10%;

}

.login-submit{

   width: 40%;
   height: 20%;
}
body{
   background-color: rgb(202, 217, 223); 
}
